* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
}
.containert{
      position: absolute;
      float: left;
      top: 50%;
      left: 12%;
      transform: translate(-50%,-50%);
      height: 300px;
      width: 300px;
      background: black;
      float: left;
      transition: 1s;
      overflow-y: hidden;
    }
    .cardt{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      box-sizing: border-box;
      background: black;
      transition: 1s;
      cursor: pointer;
    }
    span{
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;

    }
    .cardt:nth-child(2){
      background-image:  url('mm.jpg');
      background-size: cover;
      background-position: center;
    }
    .cardt:nth-child(1){
      background: #111;
      top: 0;
      left: 0;
      padding: 30px;
      color: #fff;
    }
    .cardt:nth-child(1) h2{
      text-align: center;
      border-bottom: 1px solid #fff;
      margin-bottom: 20px;
      font-size: 30px;
    }
    .containert:hover .cardt:nth-child(2){
      left: -100%;
    }
    span{
      content: '';
      position: absolute;
      display: block;
      width: 300px;
      height: 10px;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-50%);
     
      background: #000;
    }

@font-face{font-family:Calibre-SemiBold;
  src:url(Calibre-SemiBold.21cc3335.woff) 
  format("woff"),url(Calibre-SemiBold.2c27f793.ttf) 
  format("truetype"),url(Calibre-Semibold.320db03b.svg#Calibre-Semibold) 
  format("svg");
  font-weight:700;
  font-style:normal;
  font-display:swap}
  @font-face{
    font-family:Calibre-Medium;
    src:url(Calibre-Medium.bb31c6b1.woff) 
    format("woff"),url(Calibre-Medium.cb484263.ttf) 
    format("truetype");
    font-weight:400;
    font-style:normal;
    font-display:swap}
    @font-face{
      font-family:Calibre-Regular;
      src:url(Calibre-Regular.0e30637c.woff)
       format("woff"),url(Calibre-Regular.ad23bcd8.ttf)
        format("truetype");font-weight:400;
        font-style:normal;
        font-display:swap}*,:after,:before{margin:0;padding:0;box-sizing:inherit}

html{
  font-size:62.5%;
  box-sizing:border-box;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  scroll-behavior:smooth;width:100%;
  height:100%}
  @media only screen and (max-width:62.5em)
  {html{font-size:56.25%}}
  @media only screen and (max-width:56.25em)
  {html{font-size:54%}}
  @media only screen and (max-width:37.5em)
  {html{font-size:51%}}
  @media only screen and (min-width:112.5em)
  {html{font-size:75%}}
  
  body{
    font-family:Calibre-Regular,sans-serif;
    font-size:1.6rem;
    background-color:#000;
    color:#fff;
    overflow-x:hidden;
    position:relative;
    width:100%;
    height:100%}
    @media only screen and (min-width:20em)
    {body{overflow-x:scroll}}
main{display:grid;
  grid-template-columns:1fr repeat(12,minmax(min-content,10rem)) 1fr
  }
  .noScroll{
    overflow-y:hidden}
    .smooth-scroll-wrapper{
      position:relative;
      width:100vw}
      section{transition:transform .25s;will-change:transform;}
  .preloader{
          width:100vw;
          height:39vh;
          position:absolute;
          top:0;
          left:0;
          background:transparent;
          z-index:20}
 .preloader #logo{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)}
  .preloader #logo path:first-child{
 stroke-width:1;
 stroke-dasharray:393.5;
 stroke-dashoffset:393.5;
animation:line-anim 2s ease forwards}
 .preloader #logo path:nth-child(2){
      stroke-width:1;
      stroke-dasharray:430;
      stroke-dashoffset:430;
      animation:line-anim 2s ease .3s forwards}
      .preloader #logo path:nth-child(3){
        stroke-width:1;
        stroke-dasharray:413;
        stroke-dashoffset:413;
        animation:line-anim 2s ease .6s forwards}
        .preloader #logo path:nth-child(4){
          stroke-width:1;
          stroke-dasharray:290;
          stroke-dashoffset:290;
          animation:line-anim 2s ease .9s forwards}
.preloader #logo path:nth-child(5){
            stroke-width:1;
            stroke-dasharray:187;
            stroke-dashoffset:187;
            animation:line-anim 2s ease 1.2s forwards}
            .preloader #logo path:nth-child(6){
              stroke-width:1;
              stroke-dasharray:393;
              stroke-dashoffset:393;
              animation:line-anim 2s ease 1.5s forwards}
              .preloader svg{
                animation:fill .6s ease-in 3s forwards}
                @keyframes line-anim{to{stroke-dashoffset:0}}
                @keyframes fill{0%{fill:transparent}to{fill:violet}}
                ents:none;transform:translate(-50%,-50%);
                transform-origin:100% 100@media only screen and (max-width:62.5em)
                {.cursor{opacity:0}}
.heading-2{
 letter-spacing:-1px}
 .heading-2,.heading-3{
  font-size:4rem;
  text-transform:capitalize}
 .heading-3{
 letter-spacing:-.5px;
  line-height:4rem;
  font-family:Calibre-Medium,sans-serif}
 .heading-4{letter-spacing:5px}
.heading-4,.heading-5{text-transform:uppercase}
 .heading-5{
 font-size:1.3rem;
 letter-spacing:3px}
  .paragraph{
font-size:1.5rem;
  color:#797575
 
}
                          
 .cta{background-color:red;
padding:1.5rem 4rem;
text-decoration:none;
color:white;
border-radius:10rem;
text-transform:uppercase;
font-size:1.2rem;
font-family:Calibre-SemiBold,
sans-serif;
letter-spacing:3px;
border:1.5px solid transparent;
cursor:pointer;transition:all .3s ease-in-out}

.cta:hover{
background-color:transparent;
border:1.5px solid #fff;color:#fff}
.pri-color{color:yellow}
.sec-color{color:#797575}
.mb-l{margin-bottom:5rem}
.mb-m{margin-bottom:3rem}
.mb-s{margin-bottom:1.3rem}
.mt-s{margin-top:1rem}
.contact{grid-column:2/14;padding:6rem}
.contact-box__wrapper{
  margin-top:8rem;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(35rem,1fr));
  grid-gap:4rem}
.contact-box a{
  font-size:2.75rem;
  text-decoration:none;
  color:#fff;
  font-family:Calibre-Medium,sans-serif;
  transition:color .2s ease-in-out}
.contact-box a:hover{color:#09f755}
.footer{display:flex;justify-content:space-between;padding:4rem;color:#797575}
.nav-container{position:absolute;padding:4rem;top:0;left:0}
.nav-container .nav-icon{
  background-color:#000;
  position:absolute;
  right:4rem;
  top:2.5rem;
  z-index:10;
  width:6rem;
  height:6rem;
  border-radius:50%;
  position:fixed;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center}
.nav-container .nav-icon .bar1,.nav-container .nav-icon .bar2,.nav-container .nav-icon .bar3{
  width:20px;
  height:2px;
  margin:4px 0;
  transition:.4s;
  background-color:#fff;
  border-radius:1rem}
.nav-container .nav-icon.bar2{width:30px;transform-origin:right}
.nav-container .nav-main{position:fixed;top:0;left:0;z-index:1}
.nav-container .nav-main .box-wrapper{position:absolute;top:0;left:0;z-index:1;display:flex}
.nav-container .nav-main .box-wrapper .box{background-color:#09f755;width:25vw;height:0}
.nav-container .nav-main .mobile-logo{
  position:absolute;
  top:4rem;
  left:4rem;
  z-index:2;
  filter:brightness(1%);
  opacity:0}
.nav-container .nav-main__content{
  opacity:0;
  visibility:hidden;
  width:95vw;
  position:absolute;
  top:15rem;
  left:4rem;
  z-index:2;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(35rem,1fr));
  grid-gap:4rem;
  padding:4rem;
  color:#000}
.nav-container .nav-main__content--box{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:25rem}
.nav-container .nav-main__content--box .social-links{display:flex;flex-direction:column}
.nav-container .nav-main__content--box .social-links--box{display:flex;align-items:center}
.nav-container .nav-main__content--box .social-links--box img{margin-right:2rem;height:1.7rem;filter:brightness(1%)}
.nav-container .nav-main__content--box .social-links--box:nth-child(2){margin-top:1rem}
.nav-container .nav-main__content--box .resume{
  font-size:5rem;
  text-decoration:none;color:#000;
  font-family:Calibre-Medium,sans-serif;
  letter-spacing:-2px;
  align-self:flex-start;
  transition:all .2s ease-in-out}
.nav-container .nav-main__content--box 
.resume:hover{letter-spacing:3px}
.nav-container .nav-main__content--box .list{justify-self:flex-start}
.nav-container .nav-main__content--box .list__item{list-style:none}
.nav-container .nav-main__content--box .list__item:not(:last-child){margin-bottom:3.5rem}
.nav-container .nav-main__content--box .list__item a{
  text-transform:uppercase;
  font-size:3rem;
  text-decoration:none;
  color:#000;font-family:Calibre-Medium,sans-serif;
  letter-spacing:-1px;transition:all .2s ease-in-out}
  .nav-container .nav-main__content--box .list__item a:hover{letter-spacing:3px}
.nav-container .nav-sub{position:absolute}
.header{
  position:relative;
  overflow:hidden;
  min-height:80rem}
  @media only screen and (max-width:37.5em)
  {.header{min-height:70rem}}
  .header:after{
    content:"";
    position:absolute;
    width:100vw;
    height:100%;
    top:0;
    right:0;
    z-index:-1;
    background:black 100% 0 no-repeat}
    @media only screen and (max-width:56.25em)
    {.header:after{
      transform:rotate(90deg);
      background-position:50% 0;
      left:0;bottom:0}}
      .header .hero{
        position:absolute;
        top:50%;
        left:10%;
        transform:translateY(-70%)}
        @media only screen and (max-width:56.25em)
        {.header .hero{top:55%}}
        .text-container{
          width:25rem;
          position:relative;
          overflow:hidden;
          height:10rem;
          margin:1rem 0 1rem -2rem}
  .text-container video{
    position:absolute;
    top:0;
    width:24rem;
    height:10rem}
    .text-container svg{
      position:absolute;
      top:-1rem;
      left:-.75rem;
      width:27rem}
      .text-container span{
        font-size:8rem;
        color:hsla(0,0%,100%,0);
        text-transform:lowercase;
        font-family:Calibre-SemiBold,sans-serif;
        position:absolute;
        top:1.5rem;
        left:1.5rem}
        .nav-anim .bar1{
          transform:rotate(-45deg) translate(-6px,7px)}
        .nav-anim .bar2{
          transform:translateX(200%);
          opacity:0}
        .nav-anim .bar3{
          transform:rotate(45deg) translate(-7px,-8px)}
          .project{
            grid-column:2/14;
            padding:6rem;
          }
            .project-box__wrapper{
              display:grid;
              grid-template-columns:repeat(auto-fit,minmax(25rem,1fr));
              grid-gap:4rem;
              color:#000;
              margin-top:6rem}
.project-box{
  padding:2rem;
  height:35rem;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  position:relative}
.project-box:hover{
  border:2px solid #fff;
  color:#fff}
  .project .project-box:first-child{
    background:linear-gradient(180deg,#f3cbab,#feedca)}
    .project .project-box:nth-child(2){
      background:linear-gradient(180deg,#b1e5f9,#f4d2fe)}
      .project .project-box:nth-child(3){
        background:linear-gradient(180deg,#dbb4f3,#efb7d7)}
        .project .project-box:nth-child(4){
          background:linear-gradient(180deg,#efa971,#e4cafe)}
.project .project-box:nth-child(4) 
.project-box__link{width:min-content}
.project .project-box:nth-child(5){background:linear-gradient(90deg,#b1e5f9,#f4d2fe)}
.project .project-box:nth-child(5) 
.project-box__link{width:min-content}
.project-box__link{
align-self:flex-end;
width:20%;
display:flex;
justify-content:space-between;
align-items:center}
@media only screen and (max-width:56.25em){
.project-box__link{width:30%}}
  .project-box__content{align-self:center}
  .project-box:first-child,
  .project-box:nth-child(2),
  .project-box:nth-child(3),
  .project-box:nth-child(4),
  .project-box:nth-child(5)
  {background:linear-gradient(180deg,#f3cbab,#feedca)}
  .project-box:first-child:after,
  .project-box:nth-child(2):after,
  .project-box:nth-child(3):after,
  .project-box:nth-child(4):after,
  .project-box:nth-child(5):after{
    content:"";position:absolute;
    width:103%;
    height:101%;
    top:1rem;
    right:0;
    z-index:-1}
    .project-box:first-child:hover,
    .project-box:nth-child(2):hover,
    .project-box:nth-child(3):hover,
    .project-box:nth-child(4):hover,
    .project-box:nth-child(5):hover{background:none;background-image: url(rr.jpg);}
    .project-box:first-child:hover img,
    .project-box:nth-child(2):hover img,
    .project-box:nth-child(3):hover img,
    .project-box:nth-child(4):hover img,
    .project-box:nth-child(5):hover img{filter:invert(1)}
    .project-box:first-child:hover:after,
    .project-box:nth-child(2):hover:after,
    .project-box:nth-child(3):hover:after,
    .project-box:nth-child(4):hover:after,
    .project-box:nth-child(5):hover:after{outline:2px solid #fff}
    .web{grid-column:2/14;padding:6rem}
    .web-box__wrapper{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(25rem,1fr));
      grid-gap:4rem;margin-top:6rem}
    .web-box{
      padding:2rem 2rem .5rem;
      border:1px solid #797575;
      border-bottom:4px solid white}
  .web-box a{
        display:flex;
        flex-direction:column;
        font-size:2rem;
        text-transform:capitalize;
        text-decoration:none;
        color:#797575;
        font-family:Calibre-Medium,sans-serif;transition:color .3s ease-in-out}
.web-box a img{
  align-self:flex-end;
  height:2rem}
.web-box a:hover{color:#fff}
/*# sourceMappingURL=src.ab891ce8.css.map */

@font-face {
    font-family: 'Calibre-SemiBold';
    src:url('../font/Calibre-SemiBold.woff') format('woff'),
        url('../font/Calibre-SemiBold.ttf') format('truetype'),
        url('../font/Calibre-Semibold.svg#Calibre-Semibold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

svg { width: 20%; }
rect { fill: #FE0304; }
text { 
  font-size: 3.4rem;
  font-family:Calibre-Regular,sans-serif;;
  font-weight: 100; 
  text-transform: uppercase;
  letter-spacing: 42px;
  fill: white;

}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.7);
  }
  95% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes reveal-info {
  0% {
    height: 0;
  }
  5% {
    height: 350px;
  }
  95% {
    height: 350px;
  }
  100% {
    height: 0;
  }
}
body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 700px;
  background-color: #D7CCC8;
  font-size: 14px;
  font-family: "Montserrat", sans;
}
.container .container-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  animation: fade-in 1.5s ease, slide-in 1.2s ease;
  -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}
.container .container-inner .main-content {
  flex-basis: 50%;
  order: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.container .container-inner .main-content .main-headings {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  animation: scaleDown 6s ease 2s;
  -webkit-animation: scaleDown 6s ease 2s;
}
.container .container-inner .main-content .main-headings #by-line {
  width: 60%;
  padding-bottom: 1px;
  padding-left: 3px;
  margin-left: 15px;
  font-size: 85%;
  border-bottom: 1px solid #757575;
  font-style: italic;
}
.container .container-inner .main-content .main-headings .heading {
  margin-top: 20px;
  margin-left: 80px;
}
.container .container-inner .main-content .main-headings .heading #heading1, .container .container-inner .main-content .main-headings .heading #heading2, .container .container-inner .main-content .main-headings .heading #heading3 {
  margin: 0;
  margin-top: -20px;
}
.container .container-inner .main-content .main-headings .heading #heading1, .container .container-inner .main-content .main-headings .heading #heading2 {
  font-size: 500%;
  font-weight: normal;
  letter-spacing: -2px;
}
.container .container-inner .main-content .main-headings .heading #heading1 {
  margin-left: 50px;
}
.container .container-inner .main-content .main-headings .heading #heading2 {
  margin-left: 150px;
}
.container .container-inner .main-content .main-headings .heading #heading3 {
  margin-top: -52px;
  font-size: 1100%;
  font-weight: 800;
  letter-spacing: 2px;
}
.container .container-inner .main-content .main-headings .short-bio {
  width: 60%;
  margin-top: -30px;
  margin-left: 90px;
  font-style: italic;
  font-size: 105%;
}
.container .container-inner .main-content .main-headings a {
  margin-left: 92px;
  align-self: flex-start;
  font-weight: bold;
  font-size: 120%;
  font-family: helvetica;
  text-decoration: none;
  color: black;
}
.container .container-inner .main-content .main-headings a:hover {
  text-decoration: underline;
}
.container .container-inner .main-content .more-info {
  margin-top: -70px;
  width: 50%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
  overflow: hidden;
  animation: reveal-info 4s ease 3s;
  -webkit-animation: reveal-info 4s ease 3s;
}
.container .container-inner .image-wrapper {
  flex-basis: 50%;
  order: 2;
}
.container .container-inner .image-wrapper .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: scaleDown 6s ease 2s;
  -webkit-animation: scaleDown 6s ease 2s;
}
.container .container-inner .image-wrapper .image-container img {
  width: 100%;
  height: auto;
  position: relative;
}

@media (min-width: 350px) and (max-width: 529px) {
  * {
    animation-name: none !important;
  }

  .container {
    width: 90%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
    margin-bottom: 20px;
  }

  .container-inner {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .main-content, .image-wrapper {
    flex-basis: 100% !important;
  }

  .main-content {
    order: 2 !important;
    outline: 1px solid red;
    margin: 0 50px;
  }

  .image-wrapper {
    order: 1 !important;
  }

  .heading {
    margin-left: 55px !important;
  }

  #heading1, #heading2 {
    margin: 0;
    margin-top: -5px !important;
  }

  #heading2 {
    margin-left: 100px !important;
  }

  #heading3 {
    margin-top: -20px !important;
  }

  .short-bio {
    margin-top: -10px !important;
    margin-left: 60px !important;
  }

  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    font-size: 8px;
  }

  .link {
    display: none;
  }

  .image-wrapper {
    order: 1 !important;
    width: 100%;
    height: 100px !important;
    justify-content: center !important;
  }

  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 530px) and (max-width: 699px) {
  * {
    animation-name: none !important;
  }

  .container {
    width: 90%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 8px;
  }

  .container-inner {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .main-content, .image-wrapper {
    flex-basis: 100% !important;
  }

  .main-content {
    width: 80%;
    order: 2 !important;
    align-self: center !important;
  }

  .main-headings {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    margin-left: 55px !important;
  }

  #heading1, #heading2 {
    margin: 0;
    margin-top: -15px !important;
  }

  #heading3 {
    margin-top: -30px !important;
  }

  .short-bio {
    margin-top: -20px !important;
    margin-left: 60px !important;
  }

  .link {
    display: none;
  }

  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    text-align: justify;
  }

  .image-wrapper {
    order: 1 !important;
    width: 100%;
    height: 400px;
    justify-content: center !important;
  }

  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .container {
    width: 100%;
    height: auto;
    font-size: 9px;
  }

  #heading3 {
    margin-top: -35px !important;
  }

  .link {
    margin-left: 30px;
  }

  .more-info {
    margin-top: -40px !important;
  }
}
